.main_product_container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60vh;
}

.secondary_product_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40vh;
}
